ul.treeish,
.treeish ul{
  list-style-type: none;
  padding: 0 0 0 15px;
}

.treeish .hitarea {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -16px;
  margin-top: -4px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.treeish .open>.hitarea {
  background: url(minus.png) no-repeat;
}

.treeish .closed>.hitarea {
  background: url(plus.png) no-repeat;
}
